* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Arialle", sans-serif;
   font-weight: 300;
   font-size: .95rem
}

body {
   display: flex;
   align-items: center;
   height: 100vh;
   width: 100vw;
   justify-content: center;
   background: url(../image/cyan.jpg), #7533f9;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.messages,
.sidebar ul {
   list-style-type: none;
}

li,
ul {
   list-style-position: inside;
}

h3 {
   font-weight: 600;
   text-align: center;
   font-size: 1.5rem
}

.message-box {
   padding: 3px;
}

.sidebar {
   overflow-y: scroll;
   scroll-snap-type: none;
   width: 200px;
   height: 90vh;
   background: white;
   margin-top: 30px;
   border-radius: 5px;
}

.btn:hover {
   background: rgb(206, 202, 202);
   color: black;
   box-shadow: 1px 1px 2px rgb(54, 54, 54);
}

button:disabled {
   cursor: default;
   background: #698ea5
}

.btn {
   border: black 1px solid;
   border-radius: 0 2px 2px 0;
   border-left: none;
}

.message-box:focus {
   border: black 1px solid;
   box-shadow: 1px 1px 2px rgb(54, 54, 54);
   border-right: none;
}

.sidebar h3 {
   color: #494f55;
   margin: 10px 20px;
   text-align: left;
}

.sidebar li {
   border: 1px solid #e1e1e1;
   border-radius: 5px;
   margin: 10px;
}

.main {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100%;
}

.messages {
   flex-grow: 1;
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
   padding: 10px auto;
   margin-top: 20px;
}

.chat_footer {
   display: flex;
   flex-shrink: 0;
}

.chat_footer form {
   flex-grow: 1;
   flex-shrink: 0;
}

.message_title {
   display: flex;
   margin-bottom: 3px;
   /* margin-top: 15px; */
}

.message_title h4 {
   font-weight: 600;
   margin-right: 10px;
   margin-bottom: -1px;
}

.message_title span {
   color: rgb(51, 51, 51);
   font-size: 0.8rem;
   margin-bottom: 0;
}

.chat {
   display: flex;
}